:root {
  --gray-color1: #ebf0f5;
  --gray-color2: #9ea4ac;
  --gray-color3: #5a5b5c;
  --gray-color4: #dce3ea;
  --pale-green: #b8e4c2;
  --royal-blue: #2980b9;
  --button-color1: #7293da;
  --button-color2: #52c882;
  --button-color3: #40e0d0;
  --button-color4: #f8a0d0;

  --primary-font: "roboto", sans-serif;
  --secondary-font: "Calistoga", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--primary-font);
  background-color: var(--gray-color1);
}
p {
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  background-color: var(--gray-color4);
  z-index: 100;
}

header > img {
  max-height: 90%;
  background-color: var(--royal-blue);
  border-radius: 50%;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0px 10px;
  margin: 0;
}
.nav-list li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: var(--royal-blue);
}

.nav-list a:hover {
  color: #000;
  font-weight: bold;
}
a:active {
  color: #000;
}
.movie-details img {
  margin-top: 8px;
}
.movies-container,
.movie-details-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  gap: 20px;
  justify-content: center;
}
.movies-container > * {
  flex: 1 0 auto;
}
.page-title {
  flex: 1 0 100%;
  font-family: "Bebas Neue", sans-serif;
}
.movie-card {
  width: 300px;
  background-color: var(--gray-color1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
.movie-card > img {
  width: 100%;
  border-radius: 5px;
}
.movie-text {
  padding: 10px;
}
.movie-text > p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.btn {
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px var(--gray-color3);
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 17px;
  cursor: pointer;
}
.movie-card > button {
  padding: 5px;
  margin-top: auto;
  width: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: var(--royal-blue);
}
.movie-details-container {
  max-width: 480px;
  margin: 20px auto;
}

.movie-details > img {
  width: 100%;
  border-radius: 5px;
}
p > span {
  font-size: 1.8rem;
  font-weight: bold;
}
.watch_on_netflix {
  margin-top: 22px;
}
.watch_on_netflix > a {
  text-decoration: none;
  background-color: var(--royal-blue);
  padding: 8px;
  border-radius: 8px;
  color: white;
}
.movie-description p {
  margin: 8px 0px;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color2);
}
.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  margin-top: 70px;
  overflow-y: auto;
  padding-bottom: 25px;
}

.homepage-movie-image-container {
  margin: 0px auto;
  display: flex;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.homepage-movie-image-container > img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.homepage-movie-image-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
.homepage-movie-image-container button:first-of-type {
  left: 10px;
}

.homepage-movie-image-container button:last-of-type {
  right: 10px;
}
.homepage-movie-container {
  margin-bottom: 30px;
}
.write-ups {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  padding: 0px 15px;
}
.aboutpage-container {
  padding: 20px;
  max-width: 700px;
}
.aboutpage-text {
  font-family: "Bebas Neue", sans-serif;
}
.menu-container {
  /* position: relative; */
  display: flex;
  display: grid;
  grid-template-columns: 1fr auto auto;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.searchbox {
  cursor: pointer;
  width: 50px;
  border-left: 1px solid var(--gray-color2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: flex-end;
  border: 1px solid var(--gray-color2);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.search-input {
  flex: 1;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  background-repeat: no-repeat;
  background-position: left 8px center;
  padding: 8px 10px;
  background-size: inherit;
  font-size: 1rem;
  width: 100%;
}
.search-input:focus {
  padding: 8px 10px 8px 35px;
  background-image: url("./assets/image/search-icon.svg");
  outline: none;
  border: 1px solid rgb(107, 107, 240); /* Adds a custom border on focus */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Adds a subtle glow */
}

.userImage-container {
  display: flex;
  align-items: center;
}
@media (max-width: 1077px) {
  .search-container {
    grid-row: 1;
    grid-column: span 1;
    width: 50%;
  }
  .userImage-container {
    grid-row: 1;
    grid-column: 2 / span 1;
    margin-left: 5px;
  }
  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    opacity: 0.9;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-list.open {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 0px;
  }

  .nav-list a {
    padding: 1rem 1rem;
    width: 100%;
    text-align: center;
  }
  .nav-list a:hover {
    background-color: var(--gray-color1);
  }

  .menu-container {
    grid-template-columns: 1fr 30px 30px;
  }
}
