:root {
  --gray-color1: #ebf0f5;
  --gray-color2: #9ea4ac;
  --gray-color3: #5a5b5c;
  --gray-color4: #dce3ea;
  --pale-green: #b8e4c2;
  --royal-blue: #2980b9;
  --button-color1: #7293da;
  --button-color2: #52c882;
  --button-color3: #40e0d0;
  --button-color4: #eb5065;

  --primary-font: "roboto", sans-serif;
  --secondary-font: "Calistoga", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--primary-font);
  background-color: var(--gray-color1);
}
.movie-text > p {
  line-height: 1.6;
  font-size: 0.7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  background-color: var(--gray-color4);
  z-index: 100;
}

header > img {
  max-height: 90%;
  margin-right: 10px;
  background-color: var(--royal-blue);
  border-radius: 50%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0px 10px;
  margin: 0;
}
.nav-list li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: var(--royal-blue);
}

.nav-list a:hover {
  color: #000;
  font-weight: bold;
}
a:active {
  color: #000;
}
.movie-details img {
  margin-top: 8px;
}
.movie-details-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  gap: 20px;
  justify-content: space-around;
}
/* .movies-container > * {
  flex: 1 0 auto;
  
} */
.watchlist-container,
.movies-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}
.watchlist-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
.watchlist-movie-container {
  flex: 1;
}
.slider {
  display: flex;
  justify-content: center;
}
.slider-section_1 {
  width: 40%;
}
.slider-section_2 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.slider-section_2_img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.page-title,
.upcoming {
  /* flex: 1 0 100%; */
  font-family: "Bebas Neue", sans-serif;
  grid-column: 1 / -1;
}
.movie-card {
  background-color: var(--gray-color4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px 5px 10px;
  justify-self: start;
  color: #000;
}

.movie-card > img {
  width: 100%;
  border-radius: 5px;
}
.img-logo-container {
  width: 100%;
  aspect-ratio: 1/1;
  /* overflow: hidden; */
}
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.search-card {
  max-width: 300px;
}
.movie-text {
  padding: 10px;
}
.movie-text > p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.btn {
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px var(--gray-color3);
  border-radius: 18px;
  font-family: var(--primary-font);
  cursor: pointer;
  padding: 10px;
}

.movie-detail-btn {
  color: white;
  font-size: 12px;
  text-align: center;
  width: 40%;
  background-color: var(--royal-blue);
}
.watchlist-btn {
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px var(--gray-color3);
  border-radius: 15px;
  font-family: var(--primary-font);
  cursor: pointer;
  padding: 0.5em;
  margin-top: auto;
  text-align: center;
  width: max-content;
  font-size: 10px;
  color: white;
  background-color: var(--royal-blue);
}

.moviedetail-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.delete-btn {
  background-color: var(--button-color4);
}
.movie-details-container {
  max-width: 480px;
  margin: 20px auto;
}

.movie-details > img {
  width: 100%;
  border-radius: 5px;
}
p > span {
  font-size: 1.8rem;
  font-weight: bold;
}

/* .watch_on_netflix > a {
  text-decoration: none;
  color: white;
} */
.movie-description p {
  margin: 8px 0px;
}

footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color2);
}
.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  margin-top: 70px;
  overflow-y: auto;
  padding-bottom: 25px;
}

.homepage-movie-image-container {
  margin: 0px auto;
  display: flex;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.homepage-movie-image-container > img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.homepage-movie-image-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.homepage-movie-image-container button:first-of-type {
  left: 10px;
}

.homepage-movie-image-container button:last-of-type {
  right: 10px;
}
.homepage-movie-container {
  margin-bottom: 30px;
}
.write-ups {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  padding: 0px 15px;
  font-size: 1.5rem;
}
.aboutpage-container {
  padding: 20px;
  max-width: 700px;
}
.aboutpage-text {
  font-family: "Bebas Neue", sans-serif;
}
.menu-container {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr auto auto;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.userimage-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.searchbox {
  cursor: pointer;
  width: 50px;
  border: none;
  background: none;
  border-left: 1px solid var(--gray-color2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: flex-end;
  border: 1px solid var(--gray-color2);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 28%;
}
.search-input {
  flex: 1;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  background-repeat: no-repeat;
  background-position: left 8px center;
  padding: 8px 10px;
  background-size: inherit;
  font-size: 1rem;
  width: 100%;
}
.search-input:focus {
  padding: 8px 10px 8px 35px;
  background-image: url("./assets/image/search-icon.svg");
  outline: none;
  border: 1px solid rgb(107, 107, 240); /* Adds a custom border on focus */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Adds a subtle glow */
}

.userImage-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.login_user {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 80%;
  right: 2%;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  /* padding: 8px; */
}
.loginIsOpen {
  display: flex;
}
.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-msg {
  margin-left: 20px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
}
/* Sign in  */
.login-view {
  width: 100%;
}
.signin-title,
.signin-error {
  text-align: center;

  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
}
.signin-title {
  color: blue;
  margin-bottom: 2px;
}
.signin-error {
  color: red;
  margin: 2px auto;
}
.google {
  width: 20px;
  margin-right: 10px;
}

.google-signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.modal-display {
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: fixed;
  z-index: 10;
}

.register {
  display: block;
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: white;
}
.register-line {
  display: block;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.modal-btn {
  display: flex;
  justify-content: space-between;
}
.modal-btn > button,
.menu-btn > button {
  padding: 5px 15px;
  background-color: var(--button-color1);
}
#modal-title {
  margin-top: 10px;
  margin-bottom: 0;
}
.fields-container,
.signin-form {
  width: 300px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.fields-container {
  margin: 10px auto;
}
.fields-container > button,
.signin-form > button {
  height: 35px;
}
.fields-container > input,
.signin-form > input {
  height: 30px;
  font-size: 17px;
  padding-left: 5px;
}
.sign-in-btn {
  background-color: var(--button-color3);
}

.overlay {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  /* display: block; */
}

#create-account-msg,
#signin-msg {
  margin: 0;
  text-align: center;
  color: red;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Example 
  height for container */
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey background */
  border-top: 6px solid #3498db; /* Blue top border (the "rolling" part) */
  border-radius: 50%; /* Makes it a circle */
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; /* Applies the spin animation */
}
.not-found {
  text-align: center;
  font-family: var(--secondary-font);
}
/* Keyframe animation for the rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.watchlist-text {
  text-align: center;
}
.pag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-link {
  display: flex;
  list-style-type: none;
  margin: 10px auto;
}

.active-number {
  background-color: var(--button-color1);
}
.pagination-btn {
  border: none;
  padding: 15px;
  border-radius: 3px;
}
@media (max-width: 600px) {
  .slider-section_2 {
    display: none;
  }
  .slider-section_1 {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .watchlist-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 1077px) {
  header {
    padding: 0;
    padding-left: 15px;
  }
  header > img {
    max-height: 80%;
  }
  .search-container {
    grid-row: 1;
    grid-column: span 1;
    width: 50%;
  }
  .userImage-container {
    grid-row: 1;
    grid-column: 2 / span 1;
    margin-left: 5px;
  }
  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    opacity: 0.9;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-list.open {
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 0px;
  }

  .nav-list a {
    padding: 1rem 1rem;
    width: 100%;
    text-align: center;
  }
  .nav-list a:hover {
    background-color: var(--gray-color1);
  }

  .menu-container {
    grid-template-columns: 1fr 30px 30px;
  }
}
